@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #fff;
}

::selection {
  background: #6de4e8;
}

.degradedBlue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px 0;
}

.bg-blueLight {
  background-image: linear-gradient(90deg, #6de4e8 0%, rgba(255, 255, 255, 0.86) 95.83% );
}

.hover\:bg-radialBlack:hover {
  background-image: linear-gradient(225.95deg, #ffffff 0%, #6d6d6d 0%, #11101d 91.61%);
}

.hover\:text-secondary:hover {
  --tw-text-opacity: 1;
  color: rgb(109 228 232 / var(--tw-text-opacity));
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: rgba(0, 178, 218, 0.6) !important;
}

.slider-horizontal {
  display: flex;
  animation: swipe 5000ms linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
